@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800&display=swap');

.container {
    width: 100%;
    height: 100%;
    max-width: 100%;
}

.header {
    width: 100%;
    height: 35vh;
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
}

.header img {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    width: 35vh;
}

.content {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 8rem auto !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1000px;
    max-width: 90%;
    position: relative;
}

.wrapper {
    color: #9099a4;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    width: 100%;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
    margin: 0;
    color: #4f5660;
    font-family: inherit;
    letter-spacing: .05em;
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
    margin-top: 35px;
}

h2 {
    margin: 0;
    color: #4f5660;
    font-family: inherit;
    letter-spacing: .04em;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    margin-top: 35px;
}

p {
    margin: 0;
    color: #9099a4;
    display: block;
    font-family: inherit;
    font-size: 18px;
    font-weight: inherit;
    line-height: 1.6666666666666667;
    margin-top: 20px;
}

a {
    text-decoration: none;
}

a:link {
    color: #3cf0a8;
    border-bottom: 1px solid #dadada;
}

a:visited {
    color: #3cf0a8;
    border-bottom: 1px solid #dadada;
}

a:hover {
    color: #3cf0a8;
    border-bottom: 1px solid #3cf0a8;
}