@import url('https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    color: white;
}

.panel-1 {
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
    width: 100%;
    height: 100vh;
}

.panel-2 {
    width: 100%;
    background-color: #2C2F33;
}

.panel-3 {
    width: 100%;
    background-color: #2C2F33;
    padding-bottom: 8rem;
}

.footer {
    background-color: #23272A;
    text-align: center;
    height: 8rem;
}

.links {
    top: 50%;
    transform: translateY(-50%);
    position: relative;
}

.links a {
    text-decoration: none;
}

.links a:link {
    color: hsla(0, 0%, 100%, .6);
}

.links a:visited {
    color: hsla(0, 0%, 100%, .6);
}

.links a:hover {
    color: #fff;
}

.logo {
    margin-right: .25em;
    border-radius: 100%;
    height: 10em;
    width: 10em;
}

.landing-wrapper {
    display: block !important;
    margin: 0 auto !important;
    text-align: center !important;
}

.exus {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 1rem 0;
    z-index: 10;
    justify-content: center;
    width: 100%;
    flex-direction: unset;
}

.fullscreen {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    position: absolute;
    top: 0;
    vertical-align: middle;
    width: 100%;
}

.bold {
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
    margin: 0;
    line-height: 1.1;
    letter-spacing: 0.025em;
    font-size: 7.0rem;
}

.subtitle {
    margin-bottom: 0;
    font-size: 3.6rem;
    line-height: 1.3;
    letter-spacing: -.1rem;
    margin-top: 0;
    font-weight: 300;
}

.title {
    margin: 0;
    text-align: center !important;
}

@media only screen and (max-width: 675px) {
    .exus {
        display: block;
    }
}

.wrapper {
    position: relative;
}

.content {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 auto 8rem auto !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1000px;
    max-width: 90%;
    position: relative;
    padding-top: 8rem;
}

h2:after {
    border-top: 2px solid #3cf0a8;
    display: block;
    width: 33.3%;
    content: "";
    margin: 8px auto 0;
}

.card {
    background-color: #fff;
    color: #1F2226;
    transition: 0.25s;
    padding: 1em;
    border-radius: 1em;
    text-align: center;
    height: 7.5em;
}

.card:hover {
    background: #3cf0a8;
    transition: 0.5s;
    cursor: pointer;
    -webkit-box-shadow: 0px 8px 1px 0px rgba(60,240,168,0.2);
    -moz-box-shadow: 0px 8px 1px 0px rgba(60,240,168,0.2);
    box-shadow: 0px 8px 1px 0px rgba(60,240,168,0.2);
}

.card h4 {
    top: 50%;
    transform: translateY(-50%);
    position: relative;
    font-size: 1.5em;
    font-weight: 400;
}

.card-column {
    float: left;
    width: 25%;
    padding: 0 10px;
}

.card-row {
    margin: 0 -5px;
    margin-bottom: 2.5em;
}

.card-row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .card-column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

.button3 {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    vertical-align: middle;
}

.panel-3 a {
    background-color: #fff;
    color: #1F2226;
    transition: 0.25s;
    padding: 1em;
    border-radius: 0.5em;
    text-align: center;
    height: 3.5em;
    text-decoration: none;
}

.panel-3 a:link {
    color: #1F2226;
}

.panel-3 a:visited {
    color: #1F2226;
}

.panel-3 a:hover {
    letter-spacing: 0.1em;
    background: #3cf0a8;
    transition: 0.25s;
}

.arrow a { 
    color: white; 
    text-decoration: none; 
    font-size: 40px;
}

.arrow {
    text-align: center;
    position: absolute;
    bottom: 2em;
}

.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}